<!--Website Crochet Client - Teresa Costa
    Created: 20, April, 2021-->

<footer class="footer fixed-bottom back-footer">
    <!--Social Media-->
    <section class="ft-social">
        <ul class="ft-social-list">
            <li>
                <a href="#" class="fb-ic">
                    <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-6 mr-3"></mdb-icon>
                </a>
            </li>
            <li><a href="#" class="ins-ic">
                    <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-6 mr-3"></mdb-icon>
                </a>
            </li>
            <li> <a href="#" class="pin-ic">
                    <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-6 mr-3"></mdb-icon>
                </a>
            </li>
        </ul>
    </section>
    <!-- Legal -->
    <section class="ft-legal">
        <ul class="ft-legal-list">
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">About</a></li>
            <li>&copy; 2020 Copyright: <span class="brand-type">Itch To Stitch</span><span class="name-brand-type"> by Teresa</span></li>
        </ul>
    </section>
</footer>