/*Website Crochet Client - Teresa Costa
  Created: 27, April, 2021*/
  
  /* Picture*/
.media {
  height:100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

/* Text layer*/
.letters-layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 70%;
  background:var(--alabastar);
  color: #151E3F;
  transition: all 0.9s ease;
  border-radius: 1rem;
  p {
    transition: all 0.9s ease;
    transform: scale(0.1);
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 15px;
    letter-spacing:1px;
  }
}

.media:hover .letters-layer {
  opacity: 0.8;
  width:70%;
  transition: all 0.5s ease;
  p {
    transform: scale(1);
    transition: all 0.9s ease;
  }
}