<!--Website Crochet Client - Teresa Costa
    Created: 20, April, 2021-->

<nav class="navbar navbar-expand-lg navbar-light back-header">
    <!--Brand Name-->
    <a class="navbar-brand" href="#"><span class="brand-type brand-size">Itch For Stitch</span> <span
            class="name-brand-type name-brand-size"> by
            Teresa</span> </a>
    <!--Responsive navigation stack-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="toggle-color">
            <i class="fas fa-bars"></i>
        </span>
    </button>
    <!--Web navigation bar-->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <!--Search Bar-->
            <label class="search" for="inpt_search">
                <input id="inpt_search" type="text" />
            </label>
            <!--Links-->
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " href="#">Action</a>
                    <a class="dropdown-item " href="#">Another</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item " href="#">Something</a>
                </div>
            </li>
        </ul>
    </div>
</nav>