<div class="header">
    <h2><img src={{blogBanner}} alt="Itch To Stitch by Teresa Logo"></h2>
</div>

<div class="container-main">
    <div class="leftcolumn">
        <div class="new-row">
            <div class="card">
                <app-blog-card></app-blog-card>
            </div>
            <div class="card ">
                <app-blog-card></app-blog-card>
            </div>
            <div class="card ">
                <app-blog-card></app-blog-card>
            </div>
        </div>
        <div class="new-row">
            <div class="card">
                <app-blog-card></app-blog-card>
            </div>
            <div class="card ">
                <app-blog-card></app-blog-card>
            </div>
            <div class="card ">
                <app-blog-card></app-blog-card>
            </div>
        </div>
        <div class="new-row">
            <div class="card">
                <app-blog-card></app-blog-card>
            </div>
            <div class="card ">
                <app-blog-card></app-blog-card>
            </div>
            <div class="card ">
                <app-blog-card></app-blog-card>
            </div>
        </div>
        <div class="new-row">
            <div class="card">
                <app-blog-card></app-blog-card>
            </div>
            <div class="card ">
                <app-blog-card></app-blog-card>
            </div>
            <div class="card ">
                <app-blog-card></app-blog-card>
            </div>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h3>Popular Post</h3>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div>
        </div>

        <div class="card">
            <app-instagram></app-instagram>
        </div>
        <div class="card">
            <h3>Recent Post</h3>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div>
        </div>
    </div>
</div>