/* You can add global styles to this file, and also import other style files */
:root {
    --lemon-yellow-crayola: #FFFBB1;
    --macaroni-and-cheese: #FFB77E;
    --spanish-pink:#FFBAB5;
    --charm-pink: #D784A0;
    --misty-rose:#FAE1DD;
    --pink-lavender:#D4B5E4;
    --cadet-grey:#7D949C;
    --alabastar:#D8E2DC;
  }

html {
    scroll-behavior: smooth;
}

.name-brand-size{
    font-size: x-large;
}

.name-brand-type{
    font-family: 'Allura', cursive;
}

.brand-size{
    font-size: xx-large; 
}

.brand-type{
    font-family: 'Satisfy', cursive;
}