<!--Website Crochet Client - Teresa Costa
    Created: 26, April, 2021-->

<main class="wrapper">
  <!--Top Banner-->
  <section class="banner">
    <!--Animated gift-->
    <h1><img src={{storeLogo}} alt="Itch To Stitch by Teresa Logo"></h1>
    <!--Store call to action-->
    <article>
      <p>Explore local breweries with just one click and stirred by starlight across the centuries light years great
        turbulent clouds circumnavigated paroxysm of global death.</p>
      <a href={{storeLink}}>Etsy Store</a>
    </article>
  </section>
</main>