/*Website Crochet Client - Teresa Costa
  Created: 26, April, 2021*/
  /* Header/Logo Title */
  
  /* Top Banner */
  .banner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    padding: 5vh 10vw;
  }
  .banner > h1 > img {
    height: 30vh;
  }
  .banner > article > p {
    font-size: 1.5rem;
  }
  .banner > article > a {
    padding: 1rem;
    margin-top: .75rem;
  }

  a {
    background-color: var(--charm-pink);
    text-decoration: none;
    color: white;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all .3s;
  }
  a:hover {
    opacity: .6;
  }
  
  /* Card Sections */

 
  .card-sections > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 0.5vw;
    list-style-type:none;
  }
  
  .card-sections > ul > li {
    border: 1px solid var(--alabastar);
    border-radius: .5rem;
    width: 30vw;
  }

  @media only screen and (max-width: 700px) {
    .card-sections > ul > li {
        border: 1px solid var(--alabastar);
        border-radius: .5rem;
        width: 85vw;
        margin-top: 5vw;
      }
      .card-sections {
        padding-bottom: 35vw;
      }
  }
  
 

