<!--Website Crochet Client - Teresa Costa
    Created: 26, April, 2021-->

<main class="wrapper">
  <!--Top Banner-->
  <section class="banner">
    <h1>
      <!--Animated gift-->
      <img src={{storeLogo}} alt="Itch To Stitch by Teresa Logo">
    </h1>
    <article>
      <p>Explore local breweries with just one click and stirred by starlight across the centuries light years great
        turbulent clouds circumnavigated paroxysm of global death.</p>
      <a href={{storeLink}}>Etsy Store</a>
    </article>
  </section>



  <section class="card-sections">
    <ul>
      <li>
        <app-home-section></app-home-section>
      </li>
      <li>
        <app-home-section></app-home-section>
      </li>
      <li>
        <app-home-section></app-home-section>
      </li>
    </ul>
  </section>

</main>